### 1. Create a function that takes a list and string. The function should remove the letters in the string from the list, and return the list.

Examples

remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string") ➞ ["w"]

remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon") ➞ ["b", "g", "w"]

remove_letters(["d", "b", "t", "e", "a", "i"], "edabit") ➞ []


s, t, r, i, n, g, w
string

b, b, l, l, g, n, o, a, w
balloon

d, b, t, e, a, i
edabit

a, b, c, d, e, 5, 6
abcdefg

In [2]:
def remove_letters(list1,str1):
    for i in str1:
        try:
            list1.remove(i)
        except:
            continue
    return list1

In [3]:
list1 = input('enter your list (comma and space separated): ').split(', ')
str1 = input('enter your string: ')
print('\nfinal list : ',remove_letters(list1,str1))

enter your list (comma and space separated): a, b, c, d, e, 5, 6
enter your string: abcdefg

final list :  ['5', '6']

### 2. A block sequence in three dimensions. We can write a formula for this one:










Create a function that takes a number (step) as an argument and returns the amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [11]:
def blocks(num):
    x = (((num-1)*3)+5+sum(range(4,4+(num-1))))
    return x

In [19]:
num = int(input('enter your number: '))
print('\nnumber of blocks: ',blocks(num))

enter your number: 7

number of blocks:  62

### 3. Create a function that subtracts one positive integer from another, without using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

In [28]:
def my_sub(num1,num2):
    if num1 >= 0 and num2 >= 0:
        if num1 == num2:
            return 0
        elif num1 > num2:
            list1 = [1 for x in range(num1)]
            for i in range(num2):
                list1.remove(1)
            return len(list1)
        elif num2 > num1:
            list1 = [1 for x in range(num2)]
            for i in range(num1):
                list1.remove(1)
            return len(list1)

In [31]:
num1 = int(input('enter your first number: '))
num2 = int(input('enter your second number: '))
print('\nsubstracted value= ',my_sub(num1,num2))

enter your first number: 100
enter your second number: 75

substracted value=  25

### 4. Create a function that takes a string containing money in dollars and pounds sterling (seperated by comma) and returns the sum of dollar bills only, as an integer.

For the input string:

   - Each amount is prefixed by the currency symbol: $ for dollars and £ for pounds.
   - Thousands are represented by the suffix k.

i.e. $4k = $4,000 and £40k = £40,000

Examples

add_bill("d20,p40,p60,d50") ➞ 20 + 50 = 70

add_bill("p30,d20,p60,d150,p360") ➞ 20  + 150 = 170

add_bill("p30,d2k,p60,d200,p360") ➞ 2 * 1000 + 200 = 2200

In [22]:
def add_bill(str1):
    list1 = str1.split(',')
    list2 = []
    for i in list1:
        if i[0] == 'd':
            try:
                list2.append(int(i[1:]))
            except:
                list2.append(sum([int(x) for x in i if x.isdigit() == True])*1000)
    return sum(list2)

In [25]:
str1 = input('enter your string: ')
print('\ntotal bill: ',add_bill(str1))

enter your string: p30,d2k,p60,d200,p360

total bill:  2200

### 5. Create a function that flips a horizontal list into a vertical list, and a vertical list into a horizontal list.

In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list (n rows and 1 column), and vice versa.

Examples

flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.

flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.

flip_list([]) ➞ []

In [4]:
def flip_list(list1):
    try:
        x = list1[0][0]
#        print('2d')
        listx = [list1[y][x] for y in range(len(list1)) for x in range(1)]
        return listx
    except:
#        print('1d list')
        listx = [[list1[x]] for x in range(len(list1))]
        return listx

In [5]:
print('''enter 0 for horizontal list
            or
enter 1 for vertical list''')
n = int(input())
if n == 0:
    list1 = list(map(int,input('enter your horizontal list: ').split(', ')))
else:
    m = int(input("number rows in your vertical list: "))
    list1 = [[int(input())] for x in range(m)]

print('\n',flip_list(list1))

enter 0 for horizontal list
            or
enter 1 for vertical list
0
enter your horizontal list: 1, 2, 3

 [[1], [2], [3]]